@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                ДОМАШНЯЯ СТРАНИЦА
                
            </hgroup>
            <p>
                Задачами данной курсовой работы являются разработка и создание базы данных, а так же реализация веб-сайта 
                для работы с ней. Разработанная база данных содержит всю подробную информацию о заданной предметной области
                "АИС "Пункт приема вторичного сырья""
                                
            </p>
        </div>
    </section>
}
<h3>Приложение выполняет следующие функции:</h3>

                <h4>-Вывод подробных сведений о сотрудниках(ФИО, должность и т.д).</h4>
                    
                <h4>-Вывод подробных сведений о видах и приеме вторичного сырья.</h4>

                <h4>-Вывод информации о складских помещениях и их типах.</h4>         
       
                <h4>-Возможно редактирование, удаление, добавление данных во всех таблицах.</h4>
               

